<header>
  <a href="/" id="logo">Turf</a>
  
  <nav>
    <a href="#" class="rectangle">Map<b>&#9660;</b></a>
    <a href="#" class="rectangle">Layers<b>&#9660;</b></a>    
    <a href="#" class="square polygon"><b>New Polygon</b></a>
    <a href="#" class="square marker"><b>New Marker</b></a>
    <a href="#" class="square settings"><b>Settings</b></a>
                    
  </nav>
</header>

<section id="map">

</section>