<header>
  <a href="/" id="logo">Turf</a>
  
  <nav>
    <a href="#" class="rectangle">Map</a>
    <a href="#" class="rectangle">Layer</a>    
    <a href="#" class="square"></a>
    <a href="#" class="square"></a>
    <a href="#" class="square"></a>
    <a href="#" class="square"></a>
    <a href="#" class="square"></a>              
                
  </nav>
</header>

<section id="map">

</section>